/* Global reset */
@import url("imports/reset.css");

html {
	font-size: 22px;
	height: 100%;
}

body {
	min-height: 100%;
	font-family: sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
	opacity: 0.5;
}

:where(h1, h2) {
	font: inherit;
	font-size: 8vw;
	letter-spacing: -0.05em;
}

.page {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.page__heading {
	text-align: center;
}
